<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/LayoutPadrao">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Brewer - Cadastro de Cerveja</title>

    <link rel="stylesheet" type="text/css" href="../../static/layout/stylesheets/vendors.min.css"
          th:href="@{/layout/stylesheets/vendors.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/layout/stylesheets/algaworks.min.css"
          th:href="@{/layout/stylesheets/algaworks.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/layout/application.css"
          th:href="@{/layout/stylesheets/application.css}"/>

    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/brewer.css"
          th:href="@{/stylesheets/brewer.css}"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <h1>
                Cadastro de Cervejas
            </h1>
        </div>
    </div>

    <div class="container-fluid">


        <div th:replace="fragments/MensagensSucesso :: mensagensSucesso"></div>

        <form method="POST" th:object="${cerveja}" class="form-vertical  js-form-loading">

            <div th:replace="fragments/MensagensErroValidacao :: mensagensErro"></div>

            <div class="row">
                <div class="col-sm-2 form-group" th:classappend="${#fields.hasErrors('sku')} ? has-error">
                    <label for="sku" class="control-label">SKU</label>
                    <input id="sku" type="text" class="form-control" th:field="*{sku}"/>
                </div>

                <div class="col-sm-10 form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
                    <label for="nome" class="control-label">Nome</label>
                    <input id="nome" class="form-control" th:field="*{nome}"/>
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
                <label for="descricao" class="control-label">Descrição</label>
                <textarea id="descricao" class="form-control" th:field="*{descricao}" rows="3"></textarea>
            </div>

            <div class="row">

                <div class="form-group  col-sm-3" th:classappend="${#fields.hasErrors('estilo')} ? has-error">
                    <label for="estilo" class="control-label">Estilo</label>
                    <div class="bw-field-action">
                        <select id="estilo" type="text" class="form-control" th:field="*{estilo}">
                            <option value="">Selecione o estilo</option>
                            <option th:each="estilo : ${estilos}" th:value="${estilo.codigo}" th:text="${estilo.nome}">Pale Lager</option>
                        </select>
                        <div class="bw-field-action__icon">
                            <a href="#" data-toggle="modal" data-target="#modalCadastroRapidoEstilo">
                                <i class="glyphicon glyphicon-plus-sign bw-glyphicon-large"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group  col-sm-3" th:classappend="${#fields.hasErrors('sabor')} ? has-error">
                    <label for="sabor" class="control-label">Sabor</label>

                    <select id="sabor" type="text" class="form-control" th:field="*{sabor}">
                        <option value="">Selecione o estilo</option>
                        <option th:each="sabor : ${sabores}" th:value="${sabor}" th:text="${sabor.descricao}">
                            Adocicada
                        </option>
                    </select>


                </div>

                <div class="form-group  col-sm-3" th:classappend="${#fields.hasErrors('teorAlcoolico')} ? has-error">
                    <label for="teorAlcoolico" class="control-label">Teor Alcoólico</label>
                    <div class="input-group">
                        <input id="teorAlcoolico" type="text" class="form-control js-decimal" th:field="*{teorAlcoolico}"/>
                        <div class="input-group-addon">%</div>
                    </div>

                </div>


                <div class="form-group col-lg-3 col-sm-6" th:classappend="${#fields.hasErrors('origem')} ? has-error">
                    <label class="control-label">Origem</label>
                    <div>
                        <div class="radio radio-inline" th:each="origem : ${origens}">
                            <input type="radio" name="origem" th:id="|id_${origem}|" th:value="${origem}" th:field="*{origem}"/>
                            <label th:text="${origem.descricao}" th:for="|id_${origem}|">Nacional</label>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="form-group  col-sm-3" th:classappend="${#fields.hasErrors('valor')} ? has-error">
                    <label for="valor" class="control-label">Valor</label>
                    <div class="input-group">
                        <div class="input-group-addon">R$</div>
                        <input id="valor" type="text" class="form-control js-decimal" th:field="*{valor}"/>
                    </div>

                </div>
                <div class="form-group  col-sm-3" th:classappend="${#fields.hasErrors('comissao')} ? has-error">
                    <label for="comissao" class="control-label">Comissão</label>
                    <div class="input-group">
                        <input id="comissao" type="text" class="form-control js-decimal" th:field="*{comissao}"/>
                        <div class="input-group-addon">%</div>
                    </div>

                </div>
                <div class="form-group  col-sm-3" th:classappend="${#fields.hasErrors('quantidadeEstoque')} ? has-error">
                    <label for="estoque" class="control-label">Estoque</label>
                    <div class="input-group">
                        <input id="estoque" type="text" class="form-control js-plain" th:field="*{quantidadeEstoque}"/>
                    </div>

                </div>
            </div>


            <div class="form-group">
                <button class="btn  btn-primary" type="submit">Salvar</button>

            </div>

        </form>
    </div>

    <div th:replace="estilo/CadastroRapidoEstilo :: modal"></div>
</section>

    <th:block layout:fragment="javascript-extra">
        <script src="../../static/javascripts/estilo_cadastro-rapido.js" th:src="@{/javascripts/estilo_cadastro-rapido.js}"></script>
    </th:block>
</body>
</html>