<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:brewer="http://leandro.pnto.com"
      layout:decorator="layout/LayoutPadrao"
>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Brewer - Pesquisa de Cervejas</title>

    <link rel="stylesheet" type="text/css" href="../../static/layout/stylesheets/vendors.min.css"
          th:href="@{/layout/stylesheets/vendors.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/layout/stylesheets/algaworks.min.css"
          th:href="@{/layout/stylesheets/algaworks.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/layout/application.css"
          th:href="@{/layout/stylesheets/application.css}"/>


    <link rel="stylesheet" type="text/css" href="../../static/stylesheets/brewer.css"
          th:href="@{/stylesheets/brewer.css}"/>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <h1>Pesquisa de Cervejas</h1>
                </div>
                <div class="col-xs-2">
                    <div class="aw-page-header-controls">
                        <a href="#" class="btn btn-default" th:href="@{/cervejas/novo}">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            <span class="hidden-xs">Nova Cerveja</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">


        <form method="GET" th:object="${cervejaFilter}">
            <div class="row">
                <div class="form-group  col-sm-2">
                    <label class="control-label" for="sku">SKU</label>
                    <input type="text" class="form-control"
                           id="sku" autofocus="autofocus" th:field="*{sku}"/>
                </div>
                <div class="col-sm-4"></div>

                <div class="form-group  col-sm-6">
                    <label class="control-label" for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" th:field="*{nome}"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label" for="estilo">Estilo</label>
                    <select id="estilo" class="form-control" th:field="*{estilo}">
                        <option value="">Todos os estilos</option>
                        <option th:each="estilo : ${estilos}" th:text="${estilo.nome}"
                                th:value="${estilo.codigo}"></option>
                    </select>
                </div>

                <div class="form-group  col-sm-6">
                    <label class="control-label" for="sabor">Sabor</label>
                    <select id="sabor" class="form-control" th:field="*{sabor}">
                        <option value="">Todos os sabores</option>
                        <option th:each="sabor : ${sabores}" th:value="${sabor}" th:text="${sabor.descricao}"></option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group  col-sm-6">
                    <label class="control-label">Origem</label>
                    <div>
                        <th:block th:each="origem : ${origens}">
                            <div class="radio  radio-inline">
                                <input th:id="|id_${origem}|" type="radio" th:value="${origem}"
                                       th:field="*{origem}" name="origem"/>
                                <label th:for="|id_${origem}|" th:text="${origem.descricao}">Nacional</label>
                            </div>
                        </th:block>
                        <div class="radio  radio-inline">
                            <input id="todasOrigens" type="radio" th:checked="*{origem} == null" name="origem"/>
                            <label for="todasOrigens">Todas</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6  form-group">
                    <label for="valorDe">Preço unitário</label>
                    <div class="form-inline">
                        <input type="text" class="form-control  aw-form-control-inline-sm  js-decimal" id="valorDe"
                               th:field="*{valorDe}"/>
                        <label for="valorAte" class="aw-form-label-between">até</label>
                        <input type="text" class="form-control  aw-form-control-inline-sm  js-decimal"
                               id="valorAte" th:field="*{valorAte}"/>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn  btn-primary">Pesquisar</button>
        </form>
        <div class="table-responsive bw-tabela-simples">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th class="table-cervejas-col-foto"></th>
                    <th class="table-cervejas-col-sku">
                        <brewer:order page="${pagina}" field="sku" text="SKU"/>
                    </th>
                    <th class="table-cervejas-col-nome">
                        <brewer:order page="${pagina}" field="nome" text="Nome"/>
                    </th>
                    <th class="table-cervejas-col-estilo">Estilo</th>
                    <th class="table-cervejas-col-origem">Origem</th>
                    <th class="table-cervejas-col-valor">Valor</th>
                    <th class="table-cervejas-col-acoes"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cerveja:${pagina.conteudo}">
                    <td class="text-center">
                        <img th:src="@{/fotos/thumbnail.{foto}(foto=${cerveja.fotoOuMock})}" class="img-responsive"/>
                    </td>
                    <td class="text-center" th:text="${cerveja.sku}">AA1234</td>
                    <td th:text="${cerveja.nome}">Cerveja Stella</td>
                    <td th:text="${cerveja.estilo.nome}">Lager</td>
                    <td th:text="${cerveja.origem.descricao}">Internacional</td>
                    <td class="text-right" th:text="|R$ ${cerveja.valor}|">R$ 8.00</td>
                    <td class="text-center">
                        <a class="btn  btn-link  btn-xs" title="Editar">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a class="btn  btn-link  btn-xs" title="Excluir">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </td>
                </tr>
                <tr th:if="${pagina.vazia}">
                    <td colspan="7">Nenhuma Cerveja encontrada</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="cols-sm-12 text-center" th:if="${not pagina.vazia}">
            <nav>
                <ul class="pagination pagination-sm">
                    <li th:class="${#bools.isTrue(pagina.primeira)} ? 'disabled'">
                        <a href="#" th:href="${pagina.urlParaPagina(pagina.atual-1)}|"><span>&laquo;</span></a></li>

                    <th:block th:each="p : ${#numbers.sequence(1, pagina.total)}">
                        <li th:class="${pagina.atual == p - 1}? 'active'">
                            <a th:href="${pagina.urlParaPagina(p - 1)}">[[${p}]]</a>
                        </li>
                    </th:block>


                    <li th:class="${#bools.isTrue(pagina.ultima)} ? 'disabled'">
                        <a th:href="${pagina.urlParaPagina(pagina.atual+1)}"
                           href="?page=3"><span>&raquo;</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
</body>
</html>